.first {
	background: url(../img/bg-img.jpg) center no-repeat;
	background-size: 60%;
}
.tab-block {
	border: 1rem solid #03a1d5;
	width: 50%;
	margin: 0 auto;
}
.active-link {
	background-color: #039ecf;
}
.tab-form {
	text-align: center;
	width: 100%;
	background-color: #000;
	background-size: 100%;
	padding: 7rem 6rem;
}
input:focus {
	outline: none;
}
.tab-input {
	display: block;
	width: 100%;
	color: #fff;
	background-color: #1d1c1c;
	padding: 0.5rem;
	border: none;
	margin-bottom: 1rem;
}
.btn-tap {
	position: absolute;
	background-color: #8a0901;
	color: #fff;
	font-size: 1rem;
	border: none;
	left: 94%;
	transform: translateY(80%);
	padding: 0.5rem 1rem;
	
}